.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin-bottom: 20px;

  h6 {
    color: lightgrey;
    align-items: center;
  }

  .status {
    color: #01f556;
  }

  .network {
    color: #ffc806;
    margin-left: 30px;
    margin-bottom: 2px;
  }
}
