.home {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;




  .search-bar {
    background: white;
    outline: none !important;
    border: none !important;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }

  .radios {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;

    input {
      margin-left: 10px;
      align-items: center;
    }
  }

  .button {
    background: #01f556;
    border: none;
    color: #282828;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    padding: 5px 15px !important;
    border-radius: 20px;

    &:hover {
      background-color: #01f556;
      color: black;
      border: none;
    }
  }
}
